.bottom-sheet-container {
    transform: translateY(100%); /* Start off-screen */
    visibility: visible !important;
    opacity: 1 !important;
    pointer-events: auto !important;
    z-index: 9999 !important;
    transition: transform 0.3s ease-in-out; /* ✅ Smooth slide-up animation */
  }
  
  .react-modal-sheet-container {
    transform: translateY(0) !important;
    height: auto !important;
    transition: transform 0.3s ease-in-out;
    margin: 10%;
  }
  
  
  
  
  .bottom-sheet-content {
    padding: 20px;
    overflow-y: auto;
    max-height: calc(80vh - 60px); /* Ensures scrolling inside */
    display: block !important;
    margin: 10%;
  }

  